html {
  scrollbar-color: oklch(var(--nc)) oklch(var(--b3));
}

.drawer-side {
  scrollbar-color: oklch(var(--nc)) oklch(var(--b2));
}

.prose pre {
  background-color: var(--tw-prose-pre-bg) !important;
  font-family: "JetBrains Mono", serif;
}

[data-theme=kxs] .prose pre {
  background-color: #f5f2f0;
}

[data-theme=kxs] .menu {
  color: #CCCCCC;
}

.jetbrains {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
}

.poppins {
  font-family: "Poppins", serif;
}