---
import { Icon } from "astro-icon/components";
---

<footer class="footer bg-base-100 items-center p-4 mt-8">
  <aside class="grid-flow-col items-center">
    <div class="flex gap-x-1">
      <p>
        Cours par
        <strong>Thomas Beline</strong>
        <br class="md:hidden" />
        sous la licence
      </p>
      <a
        class="text-primary font-medium"
        href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"
        >CC BY-SA 4.0
      </a>
      <a>
        <img src="https://kxs.fr/img/ccbysa.svg" class="h-6 w-auto" />
      </a>
    </div>
  </aside>
  <nav class="grid-flow-col gap-4 place-self-center md:justify-self-end">
    <a href="https://github.com/PolyxUtils/PolyxLang" target="_blank">
      <Icon
        name="mdi:hashtag-box"
        class="text-4xl hover:text-primary transition-all hover:-translate-y-1 hover:scale-110"
      />
    </a>
    <a href="https://dreamclouds.fr" target="_blank">
      <Icon
        name="mdi:cloud-cog"
        class="text-4xl hover:text-primary transition-all hover:-translate-y-1 hover:scale-110"
      />
    </a>
    <a href="https://github.com/Funasitien/kxs.ui" target="_blank">
      <Icon
        name="mdi:github"
        class="text-4xl hover:text-primary transition-all hover:-translate-y-1 hover:scale-110"
      />
    </a>
  </nav>
</footer>
