---
---

<div class="navbar bg-base-300 mb-10">
  <div class="navbar-start">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      🗺
    </label>
  </div>
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">KXS.FR</a>
  </div>
  <div class="navbar-end">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      🎨
    </label>
  </div>
</div>
