---
import { Icon } from "astro-icon/components";
---

<div class="navbar bg-base-300 z-20">
  <div class="navbar-start">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      🗺
    </label>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl font-black">
      <Icon name="mdi:integrated-circuit" />
      KXS.FR
    </a>
  </div>
  <div class="navbar-end">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      🎨
    </label>
    <div class="mr-1">
      <a class="link link-hover" href="/cours">cours</a>
      <span class="mx-2">|</span>
      <a class="link link-hover" href="/sujets">sujets</a>
      <span class="mx-2">|</span>
      <a class="link link-hover" href="/fiches">fiches</a>
      <span class="mx-2">|</span>
      <a class="link link-hover" href="/outils">outils</a>
    </div>
  </div>
</div>
