---
import Head from "./Head.astro";

// Predefine the glob for all potential directories (e.g., `/src/pages/example/*.md`)
const allMarkdownFiles = import.meta.glob("/src/pages/**/*.mdx", {
  eager: true,
});

// Get the current page's route
let currentPath = Astro.url.pathname;
if (currentPath.endsWith('/')) {
  currentPath = currentPath.slice(0, -1);
}

// Filter the files to only include those in the same directory
const currentDir = currentPath.replace(/\/[^/]*$/, "/"); // Get the directory path
const posts = Object.entries(allMarkdownFiles)
  .filter(([path]) => path.startsWith(`/src/pages${currentDir}`))
  .map(([, module]) => ({
    title: module.frontmatter.title,
    url: module.url,
  }));
---
<Head>
<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden pb-10">
      Test Drawer
    </label>
    <article class="prose lg:prose-xl">
      <slot />
    </article>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
</Head>
